In [5]:
import numpy as np
from psutil import Process
import gc
import pandas as pd
# arr = np.arange(0, 1e8)
# print(Process().memory_info().rss)
# small_slice = arr[:10].copy()
# del arr
# print(Process().memory_info().rss)
# arr = np.arange(0, 1e8)
# print(Process().memory_info().rss)
# small_slice = arr[:10]
# del arr
# print(Process().memory_info().rss)
# for name in dir():
#     if name not in ['np', 'Process', 'gc', 'pd']:
#         del globals()[name]
# print(Process().memory_info().rss)
# print('\n---\n')

arr1 = np.arange(0, 1e8)
arr2 = np.arange(0, 1e8)*2
print(Process().memory_info().rss)
df = pd.DataFrame({'a1': arr1, 'a2': arr2})
print(Process().memory_info().rss)
del arr1, arr2
print(Process().memory_info().rss)
df_small = df.loc[df.a1 < 10, :]
print(Process().memory_info().rss)
del df
print(Process().memory_info().rss)
df_small

1815449600
3415449600
1815445504
2615455744
215453696

    a1    a2
0  0.0   0.0
1  1.0   2.0
2  2.0   4.0
3  3.0   6.0
4  4.0   8.0
5  5.0  10.0
6  6.0  12.0
7  7.0  14.0
8  8.0  16.0
9  9.0  18.0

In [20]:
import geopandas as gpd
polygon = 'geojsons/simplified_ANT_1500_East_D-Dp.geojson'
poly_nonsimplified = polygon.replace('simplified_', '')
clip_shape = gpd.read_file(poly_nonsimplified)
lons = clip_shape.loc[0].geometry.exterior.coords.xy[0]
lats = clip_shape.loc[0].geometry.exterior.coords.xy[1]
np.min(lons)
np.max(lons)

156.03256312387344

In [21]:
bla = 'blah!'
if bla: print(bla)

blah!

In [ ]:
small_slice

In [ ]:
small_slice.base