In [4]:
import pandas as pd
input_list = 'hold_lists/final_greenland-1-114211.csv'
df = pd.read_csv(input_list, header=None, names=['fn','hold_reason'])
df

,fn,hold_reason
0,logs/job_GrIS_2019_2000_NE-114211_ATL03_201905...,memory usage exceeded request_memory
1,logs/job_GrIS_2019_2000_NE-114211_ATL03_201906...,memory usage exceeded request_memory
2,logs/job_GrIS_2019_2000_NE-114211_ATL03_201906...,memory usage exceeded request_memory
3,logs/job_GrIS_2019_2000_NE-114211_ATL03_201909...,memory usage exceeded request_memory
4,logs/job_GrIS_2020_2000_NE-114211_ATL03_202005...,memory usage exceeded request_memory
...,...,...
3595,logs/job_GrIS_2023_2000_CW-114211_ATL03_202305...,Transfer input files failure
3596,logs/job_GrIS_2023_2000_CW-114211_ATL03_202305...,Transfer input files failure
3597,logs/job_GrIS_2023_2000_CW-114211_ATL03_202305...,Transfer input files failure
3598,logs/job_GrIS_2023_2000_CW-114211_ATL03_202306...,Transfer input files failure
3599,logs/job_GrIS_2023_2000_CW-114211_ATL03_202306...,Transfer input files failure